body {
    font-family: "Unbounded";
    font-weight: 300;
}

#nav {
    font-family: "Unbounded";
    background-color: #ffffff;
    padding: 10px 0;
}

.banner {
    background-image: url('Images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.contact-banner {
    background-image: url('Images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 2rem;
}
.contact-box {
    background-color: rgba(255, 255, 255, 0.897);
    color: #EEAAB2;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}
.contact-option {
    background-color: rgba(255, 255, 255, 0.418);
}

.text-box {
    background-color: rgba(245, 227, 236, 0.5);
    color: #EEAAB2;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    padding: 1.5rem;
}

#header {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
}

#about-me {
    background-color: #fdf6f8;
    color: #333;
}

#about-me h2 {
    color: #EEAAB2;
    font-family: "Unbounded";
}

.experience-box {
  background-color: #f5f1f3;
  color: #333;
}

.github-box {
  background-color: #eedde4;
  color: #333;
}

#skills-section h3 {
  color: #EEAAB2;
  font-family: 'Unbounded';
}

.btn-custom {
  background-color: #EEAAB2;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom:hover {
  background-color: #d88fa1;
}

#footer {
    background-color: #FFC2E2;
    padding: 10px 0;
}